.ng-valid.ng-dirty{
	border-color: green;
}

.ng-invalid.ng-dirty{
	border-color: red;
}

.container-fluid{
	margin: 0 auto;
	padding: 12px;
}

.ignore-capture,.save-capture{
	position: relative;
	top: -50px;
}

.ignore-capture{
	left: 65px;
}

.save-capture{
	left: 75px;
}

/* form styling */
#form-container                { margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }