<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<form>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" name="title" class="form-control" placeholder="Page title"/>
				</div>
				<div class="form-group">
					<label for="status">Status</label>
					<input type="text" name="status" class="form-control" placeholder="your status goes here!"/>
				</div>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="gender" value="M" checked="checked"> Male
					</label>
					<label class="radio-inline">
						<input type="radio" name="gender" value="F"> Female
					</label>
				</div>
			</form>
		</div>
		<div class="col-md-2">
			<div class="container-fluid well">
				<div class="row">
					<div class="col-md-10">
						<img src="core/images/icon-user-default.png" width="200px" height="200px" />
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default">
  							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default">
  							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>