<nav class="navbar navbar-default" ng-controller="header.ctrl as navCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#createpage-header" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Create pAge</a>
		</div>
		<div class="collapse navbar-collapse" id="createpage-header">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/about" class="fa fa-about">About</a></li>
				<li><a href="#/contact" class="fa fa-contact">Contact</a></li>
				<li class="dropdown" ng-hide="true">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					{{navCtrl.displayname}} 
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/profile">Profile</a></li>
						<li><a href="#/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>