<div class="row">
	<div class="col-md-10">
		<div id="live-cam" width="220px" height="420px" ng-show="isCamLive">
		</div>
		<img id="profile-pic" ng-src="{{profileUrl}}" width="220px" height="240px" ng-show="isPhotoTaken"/>
		<button type="button" class="btn btn-default ignore-capture" ng-show="isPhotoTaken" ng-click="setWebcam()">
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default save-capture" ng-show="isPhotoTaken" ng-click="saveClick()">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
		</button>
	</div>
	<div class="col-md-2">
		<button type="button" class="btn btn-default" ng-click="getSnapshot()">
			<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
</div>